name: Release

on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    name: Build & Push Docker Image

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract version
        id: vars
        run: |
          VERSION="${GITHUB_REF#refs/tags/}"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      # Login GHCR
      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Login DockerHub
      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.production
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/layered-pricing-laravel:${{ steps.vars.outputs.version }}
            ghcr.io/${{ github.repository_owner }}/layered-pricing-laravel:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/layered-pricing-laravel:${{ steps.vars.outputs.version }}
            ${{ secrets.DOCKERHUB_USERNAME }}/layered-pricing-laravel:latest
