name: Auto Tag

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

permissions:
  contents: write

jobs:
  tag:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine bump type from Conventional Commits
        id: cc
        uses: codfish/conventional-commit-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Show detected bump type
        run: echo "Version bump type = ${{ steps.cc.outputs.bump }}"

      - name: Generate new tag
        id: tag
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: ${{ steps.cc.outputs.bump }}
          tag_prefix: "v"

      #- name: Output new version
      #  run: echo "New version: ${{ steps.tag.outputs.new_tag }}"
